.list-input-container {
  position: relative;
  width: 100%;
  height: 100%;
  .picked-item {
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 5px;
    font-weight: 500;
    border: #dadce0 1px solid;
    letter-spacing: 0.3px;
    color: #3c4043;
  }
  .picked-item:hover {
    background-color: cornflowerblue;
  }
  .list-items {
    width: 250px;
    position: absolute;
    z-index: 2000;
    background-color: #fff;
    top: 30px;
    left: -50px;
    display: flex;
    flex-direction: column;
    border: #dadce0 1px solid;

    .item {
      font-family: 'Google Sans',Roboto,Arial,sans-serif;
      color: #3c4043;
      padding: 5px 10px;
    }
    .item:hover{
      background-color: cornflowerblue;
    }
  }
}