.day-container {
  display: grid;
  grid-template-columns: 100px auto;
  border-top: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
  .time-slots-container {
    .time-slot {
      height: 48px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      box-sizing: border-box;
    }


  }
  .day {
    position: relative;
    .day-header {
      height: 48px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      box-sizing: border-box;
    }
    .time-slot {
      height: 48px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      box-sizing: border-box;
    }
    .task {
      position: absolute;
      box-shadow: 1px 1px 1px gray;
      box-sizing: border-box;
      border-radius: 5px;
    }
    //.test {
    //  position: absolute;
    //  background-color: greenyellow;
    //  height: 100px;
    //  width: 100px;
    //  left: 0x;
    //  top: 96px;
    //  box-sizing: border-box;
    //}
  }
}